.container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu_bar_container{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    font-size: small;
}
.menu_bar_options_container{
    list-style: none;
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_bar_options_container li{
    border: 2px solid #1C3C50;
    padding: 3px 8px;
    border-radius: 15px;
    color: #1C3C50;
    font-weight: 500;
}
.menu_bar_container div{

    display: flex;
    gap: 5px;
    align-items: center;
}
.menu_bar_container p{
    width: 70%;
}
.video_bar_container{
    width: 100%;
    height: auto;
    padding: 50px 0px;

    border-top: 2px solid #CCD0D4;
    border-bottom: 2px solid #CCD0D4;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.video_bar_container article{
    width: 30%;
    height: auto;
    background-color: #FFF;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video_bar_container article img{
    width: 100%;
    height: auto;
}
.video_bar_container article h3{
    padding: 10px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    font-weight: 700;
    font-size: medium;
}
.footer_container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-size: 20px;
    font-weight: 500;
}
.footer_container ul{
    list-style: none;
    display: flex;
    gap: 10px;
}